/* GENERAL LAYOUT */
html, body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.app-container {
    width: 40%;
    min-width: 330px;
    margin: 0 auto;
    box-shadow: 0 0 8px black;
    padding: 0.5em 1em;
    margin-top: 20px;
}

/* Header title */
.header-title {
    color: #1DA1F2;
    font-size: 2rem;
    margin-bottom: 1.5em;
}

/* Tweet input area */
.tweet-input-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tweet-input-area .profile-pic {
    width: 20%;
    border-radius: 50%;
}

#main-input {
    width: 77%;
    height: 4rem;
    font-size: 1.8rem;
    border: none;
    outline: none;
    resize: none;
    padding-left: 5px;
}

#main-input:active, #main-input:focus {
    border: dashed 4px #1DA1F2;
}

/* Tweet button */
#tweet-btn {
    margin-top: 1em;
    width: 100%;
    font-size: 2.2rem;
    font-weight: 700;
    text-shadow: 0 0 1px black;
    background-color: #1DA1F2;
    color: white;
    padding: .2em .4em;
    border: none;
    border-radius: 30px;
}

/* tweet template */
#feed {
    margin-top: 2em;
}

.tweet {
    margin: 1em;
}

.tweet-inner {
    padding: 1em 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tweet-body {
    width: 80%;
}

.tweet-handle {
    margin-bottom: 0;
    font-family: monospace;
    color: grey;
    font-size: 1rem;
}

.tweet-text {
    margin-top: .3em;
}

.tweet-profilePic {
    width: 15%;
    border-radius: 50%;
}

.tweet-metrics {
    display: flex;
    justify-content: space-between;
}

.tweet-metric {
    display: flex; 
    gap: 5px;
}

.comments {
    position: relative;
}

.comment-main {
    margin-left: 4em;
    margin-bottom: .5em;
    display: flex;
    gap: 20px;
    align-items: center;
}

.reply-profilePic {
    width: 15%;
    border-radius: 50%;
}

.reply-body {
    width: 80%;
}

.hidden {
    display: none;
}

.add-comment-container {
    display: flex;
    flex-direction: column;
    gap: .5em;
}

.add-comment-btn {
    margin-bottom: .5em;
    width: 30%;
    font-size: 1.4rem;
    font-weight: 700;
    text-shadow: 0 0 1px black;
    background-color: #1DA1F2;
    color: white;
    padding: .2em .4em;
    border: none;
    border-radius: 30px;
}

.add-comment-input {
    height: 2.2em;
    font-size: 1.3rem;
    border: none;
    outline: none;
    resize: none;
    padding-left: 5px;
}

.add-comment-input:active, .add-comment-input:focus {
    border: dashed 4px #1DA1F2;
}

.reply-handle {
    font-family: monospace;
    color: grey;
    font-size: 1rem;
    margin-bottom: 0;
}

.reply-text {
    margin-top: .2em;
}

